
    <div class="chrome">
        <div style="float:right;margin:0px 0px 0px 24px;display:block">
            <a href="http://www.jeff.wilcox.name/">
                <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/jeffWilcox.jpg" width="236" height="256"
                    title="Jeff Wilcox"
                    alt="Jeff Wilcox"/>
            </a>
        </div>
        <div class="inner-chrome">
            <p>
                <a href="http://www.jeff.wilcox.name/">Jeff Wilcox</a> is a 
                software developer who lives in Seattle. Passionate about 
                tech, great user experience, and a good challenge, he can 
                often be found traveling the 
                world speaking at conferences and meeting with technical 
                developers everywhere - checking in to <a 
                href="http://www.foursquare.com/">foursquare</a> along 
                the way.
            </p>
            <p>
                Jeff maintains a blog dedicated to Windows Phone 
                development. You can find that online at <a href="http://www.jeff.wilcox.name/">http://www.jeff.wilcox.name/</a>, 
                and Jeff's on Twitter as <a href="https://www.twitter.com/jeffwilcox">@jeffwilcox</a>, too.
            </p>
        </div>
    </div>
    <h2>4th &amp; Mayor is free - $0.00</h2>
    <p>My gift to the Windows Phone community since the original app for WP7 just 
        didn't receive the love and attention that perhaps it should have. I 
        hope the app continues to improve and get updated.</p>
        
        <p>Though the app is free, I'm happy to accept support for 
        the innovation/drink fund. Thank you.<br />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBfR+ciZq2KFcwfdEdR3flTP49SyiHWw+Nlqik3wA1HJduZ+WMjxHbNYc+tq3mORF+ab3ltwFNLtaq7TI2Nv9z2s4/f7rYA00wKMbeyWSRIc0k17fL1a2Dhcis40txyvM8B7D6LbK5E9vA9mPC9Wm5r88VBvBqquwpQ7o0sEotVyzELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIMNo8s8Xyx+yAgZDCc7gFt8nseMUWm2nxsMlkdBMPOsG0oG6fsmGsrd7HnR6aoi/3VwjiIi2QAHleuhJWGSlqZJLH6enVWPKNrd9jzz6dl8hp5Tly75/LNG5RpTHjUsLKT0zVt/4k14soOZw++Bj+e977QeImY6RlnfICsCnuM9bOryvywhqNOKC7+jaVlSA5oivTEPAaQFOy2vCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMTAzMTYwNjQ5MDZaMCMGCSqGSIb3DQEJBDEWBBT1AAtVRtTS9yiXDnFM/zVWpSG6KzANBgkqhkiG9w0BAQEFAASBgEi4VY8z7jS1V7BsTxPU5OMULXRbHNrWhc0hYOcaeAmJy9J97920+tMDBCcL9QjALikJlW/I7TS/Rg9TKPyPy44gNUgL0tDgUt0QlMTvG/Ic6ElDKPxPLB14ghJYjaTWQGODmQhgOBPqJxUXhs+1cR0Pd3luTpp5IA0HrWsr3UtA-----END PKCS7-----
">
<input type="image" src="/media/donate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>

    <h2>Important disclaimer/note!</h2>
    <p>
        <em>
        The 4th &amp; Mayor app is a product of Wilcox Digital, LLC. 4th &amp; Mayor is a trademark of Wilcox Digital, LLC - Seattle, WA.
        </em>
    </p>
