<style type="text/css">
div.feature
{
    display:block;
    color:#444;
}

img { border: 0; }

img.ss {
    width:430px;
    height:837px;
    margin-bottom:24px;
}

img.sr {
    margin-left:12px;
    padding-left:12px;
    float:right;
}

img.sl {
    margin-right:12px; 
    padding-right:12px;
    float:left;
}

.feature span
{
    display:block;
    padding-top:118px;
    padding-bottom:48px;
}
</style><div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/4am_london.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/4am_london.png"
         class="ss sr"/></a>
    <span class="bt">
        4th &amp; Mayor is your beautiful, smooth, personalized client for 
        foursquare. Your theme and accent color preferences flow through 
        the app.
<br/><br/>      
        Last week at SXSW, <a href="http://blog.foursquare.com/2011/03/08/foursquare-3/">fsq3 
            was released</a> - bringing in a great new way 
        to find recommendations and explore - and now this same great 
        experience is on the Windows Phone.
    </span>
</div>

<div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/4am1.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/4am1.png"
         class="ss sl"/></a>
    <span class="bt">The Windows Phone is about a light and 
        responsive user interface, clearing away the clutter.<br />
        <br />
        Sure, the official iPhone and Android foursquare apps 
        look similar to one-another...<br />
        <br />
        Here's a chance to be different.
    </span>
</div>

<div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/4am2.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/4am2.png"
         class="ss sr"/></a>
    <span class="bt" style="clear:left">A fresh interpretation of 
        a foursquare 
        app, 4th &amp; Mayor presents the info you want and 
        ties it all together nicely.
    </span>
</div>

<div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/4am_pics.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/4am_pics.png"
         class="ss sl"/></a>
    <span class="bt">With photo support, you can finally see 
        what pics people have left at venues you're checking out - 
        how's the food look? What's the ambiance?<br /><br />
        Pics are supported on venue pages and tips - add your 
        own!
    </span>
</div>

<div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/4am_comments.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/4am_comments.png"
         class="ss sr"/></a>
    <span class="bt">Comment on your check-ins and those of your 
        friends on foursquare. It's a great way to stay in touch, 
        plan to meet, or let people know that you're in the 
        3rd table near the bar wearing a red t-shirt!
    </span>
</div>
    
<div class="feature">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/sweden.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/sweden.png"
         class="ss sl"/></a>
    <span class="bt">International check-in support, tested in 
        Sweden, Russia, and other hot spots - supports checking 
        into places with foreign characters.<br />
        <br />
        Metric or imperial unit display.
    </span>
</div>

<div class="feature" style="clear:both">
    <a  href="https://d2tz2ccf2zi8lx.cloudfront.net/media/li/full_checkin_results.png">
    <img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/si/full_checkin_results.png"
         class="ss sr"
        style="width:240px;height:718px"/></a>
    <span class="bt">And last, but not least: Foursquare is even more fun now - new 
        ways to earn points and challenge your friends on your leaderboard.
        <br />
        <br />
        <br/>
        <br/>
        <a href="/"><img src="https://d2tz2ccf2zi8lx.cloudfront.net/media/200_4th_and_mayor.png"
        style="width:200px;height:200px;border:0"/></a><br />
        <strong>4th &amp; Mayor</strong><br />
        only for Windows Phone<br />
        www.4thandmayor.com
        <br />
        <br />
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.4thandmayor.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=440&amp;action=like&amp;font=segoe+ui&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:440px; height:80px;" allowTransparency="true"></iframe>
    </span>
</div>

<p style="text-align:center;color:#ccc">If you downloaded this page on EDGE, I am sorry.</p>