    <div style="display:block;position:relative">
        
        <!-- https://d2tz2ccf2zi8lx.cloudfront.net/media/PhoneFrame.png -->
        <div style="width:363px;height:705px;position:relative;left:492px">
            <a title="Check out 4th and Mayor features" href="/features/index.html"><img src="/media/PhoneFrame.png" 
            style="border:0;position:absolute;top:0px;z-index:3;left:0px"/></a>
            <div id="screenshots"
                 style="position:absolute;left:21px;top:85px;width:320px;height:532px;background:transparent url(https://d2tz2ccf2zi8lx.cloudfront.net/media/ui.png) repeat-x scroll 0px 0px;"></div>
        </div>
    
        <div style="width:480px;height:756px;position:absolute;top:0;left:0;z-index:4">

        <%- partial('marketplaceLink.ejs') %>

		<!--/div-->
        
        <a href="/media/video.html" id="youtube"
        style="font-size:medium">&raquo; Take a quick look at 4th &amp; Mayor on YouTube!</a>
            
        <h2>
            Beautiful user experience
        </h2>
        <p>
            With beautiful design &amp; layout, fully embracing 
            the Windows Phone's &quot;Metro&quot; styling, 4th &amp; Mayor is the foursquare app 
            that you've been waiting for. It's simple and fast, too!
        </p>   

        <h2>
            Quick, clean and simple
        </h2>
        <p>
            Designed to quickly let you see what your friends are up to, you can 
            pin places and people to your start page, including a fast way to 
            check-in, letting you check-in and go.
        </p>
        <p>
            Sophisticated components and technologies make the app quick to start, 
            responsive to touch, and show the true power of your Windows Phone.
        </p>   
        
        <p>
            <br />
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.4thandmayor.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=440&amp;action=like&amp;font=segoe+ui&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:440px; height:80px;" allowTransparency="true"></iframe>
        </p>

            </div>
        </div>
<script type="text/javascript">
var start = 0;
var diff = 320;
var items = 7;
var total = items * diff;
var wait = 2500;
var isIE = false;
jQuery.each(jQuery.browser, function (i, val) {
    // Sorry IE! No animations for you. Not even IE9 RTW.
    if (i == "msie")
        isIE = true;
});
$(function () { setTimeout(function () { slideAround() }, 1500); })

function slideAround() {
    var wasPax = start + 'px 0';
    $('#screenshots').css({ backgroundPosition: wasPax });
    start = start - diff;
    if (start == -total) {
        start = 0; // diff;
        $('#screenshots').css({ backgroundPosition: start + 'px 0' });
    }
    var newPx = start + 'px'; //  + ' 0';
    // only animate in non-IE browsers for now.
    if (isIE == false) {
        $('#screenshots').animate({ backgroundPosition: newPx })
    }
    else {
        $('#screenshots').css({ backgroundPosition: newPx });
    }
    setTimeout(function () { slideAround() }, wait);
}

//$(document).ready(function() {
    $("a#youtube").fancybox();
  //  alert('ok');
//}

    </script>