<ul>
	<!-- class="selected" -->
	<li><a href="/">Home</a></li>
	<li><a href="/features/">Features</a></li>
	<li><a href="/support/">Support</a></li>
    <li><a href="http://blog.4thandmayor.com/">Blog</a></li>
    <li><a href="http://4thandmayor.uservoice.com/">Suggestions</a></li>
</ul>