<p>We've gone ahead and sent a toast over Windows Notification Service (WNS) to your 
Windows 8 PC/tablet.</p>


<hr />
<h5>Did you not receive a toast?</h5>
<p>It may take a few minutes to connect, but otherwise you'll want to check your 
device and its settings - check for Notification permissions within the 4th &amp;
Mayor app, etc.</p>

<hr />

<p><a href="/experience">Back</a></p>