
    <div class="chrome">
        <div style="float:right;margin:0px 0px 0px 24px;display:block">
            <a href="http://www.jeff.wilcox.name/">
                <img src="https://az523807.vo.msecnd.net/site/media/jeffWilcox.jpg" width="236" height="256"
                    title="Jeff Wilcox"
                    alt="Jeff Wilcox"/>
            </a>
        </div>
        <div class="inner-chrome">
            <p>
                <a href="http://www.jeff.wilcox.name/">Jeff Wilcox</a> is a 
                software developer who lives in Seattle. Passionate about 
                tech, great user experience, and a good challenge, he can 
                often be found traveling the 
                world speaking at conferences and meeting with technical 
                developers everywhere - checking in to <a 
                href="http://www.foursquare.com/">foursquare</a> along 
                the way.
            </p>
            <p>
                Jeff maintains a blog dedicated to Windows Phone 
                development. You can find that online at <a href="http://www.jeff.wilcox.name/">http://www.jeff.wilcox.name/</a>, 
                and Jeff's on Twitter as <a href="https://www.twitter.com/jeffwilcox">@jeffwilcox</a>, too.
            </p>
        </div>
    </div>
    <h2>4th &amp; Mayor is free - $0.00</h2>
    <p>My gift to the Windows Phone community since the original app for WP7 just 
        didn't receive the love and attention that perhaps it should have. I 
        hope the app continues to improve and get updated.</p>
        

    <h2>Important disclaimer/note!</h2>
    <p>
        <em>
        The 4th &amp; Mayor app is a product of Wilcox Digital, LLC. 4th &amp; Mayor is a trademark of Wilcox Digital, LLC - Seattle, WA.
        </em>
    </p>
