<div class="container">
    <p>
        <br />
        <a href="https://www.foursquare.com/"><img 
            alt="POWERED BY FOURSQUARE"
            src="https://4th.blob.core.windows.net/site/media/poweredbyfoursquare-mark.png" /></a>
    </p>
    <p>
        <small style="line-height:11px">
            foursquare&#0153; is a trademark of Foursquare Labs, Inc.<br />
            This application uses the foursquare&#0153; application 
            programming interface but is not endorsed or certified by 
            Foursquare Labs, Inc.
        </small>
    </p>
    <p>&nbsp;</p>
    <div id="almostEnd">
        <a href="/">Home</a> &nbsp;|&nbsp; 
        <a href="/support/index.html">Contact</a> &nbsp;|&nbsp; 
        <a href="/about/developer.html">About Jeff Wilcox</a> &nbsp;|&nbsp; 
        <a href="http://blog.4thandmayor.com/">Blog</a> &nbsp;|&nbsp; 
        <a href="/privacy.html">Privacy</a>
    </div>
    <div id="end">
        <a href="http://twitter.com/4thandmayor">@4thandmayor</a> &nbsp;
        <a href="http://www.facebook.com/4thandmayor">facebook</a> &nbsp;
        <a href="http://www.youtube.com/4thandmayor">youtube</a>
    </div>
    <div id="legal">
        <p>
            &copy; 2011-2013 Wilcox Digital, LLC<br />
            &copy; <%= new Date().getFullYear() %> Jeff Wilcox<br />
            Designed and developed in downtown Seattle<br /><br />
            <span style="color:#ccc"><%-locals.instanceId%></span>
        </p>
    </div>
</div>