<div id="header-space">
    <div id="logo">
        <span>
            <a href="/index.html" style="text-decoration:none;font-size:28px;color:white">
                4th &amp; Mayor
            </a>
        </span>
    </div>
    <div id="nav">
        <%- include('site_nav.ejs') %>
        <div class="right">
            <a href="/about/developer.html">by Jeff Wilcox</a>
        </div>
        <div class="rightLower">
            <p>
                <a href="https://www.twitter.com/4thandmayor">@4thandmayor</a> &nbsp; &nbsp;
                <a href="https://www.facebook.com/4thandmayor">facebook</a>&nbsp; &nbsp;
                <%

                if (locals.user && locals.user.id) {
                    %><a href="/experience"><strong>my experience</strong></a> &nbsp; &nbsp;
                    <a href="/signout">sign out</a><%
                } else {
                    %><!-- <a href="/auth/foursquare">sign in</a --><%
                }

                %>
                <!--
                <a href="https://www.windowsphone.com/en-US/apps/c7d13b8d-9951-e011-854c-00237de2db9e"
                title="Download 4th &amp; Mayor for Windows Phone"><img
                    src="https://d2tz2ccf2zi8lx.cloudfront.net/media/wp7_English_152x50_red.png"
                    style="border:0;width:152px;height:50px;"/></a>
                    -->
            </p>
        </div>
    </div>
</div>
<!-- breadcrumbs, if any -->