
<h2>
    Last Updated: March 15, 2012
</h2>

<p>4<sup>th</sup> & Mayor is a client application designed
for connecting you with the excellent foursquare&#0153; service.</p>

<p>Note that by using the foursquare service, you also are
likely bound by their terms of service (available at <a
href="https://foursquare.com/legal/terms">https://foursquare.com/legal/terms</a>)
as well as their privacy policy (available at <a
href="https://foursquare.com/legal/privacy">https://foursquare.com/legal/privacy</a>).
Please review their very important Privacy 101 document as well (available at <a
href="https://foursquare.com/privacy">https://foursquare.com/privacy</a>).</p>

<p>This Privacy Policy may be updated and you can receive
information about updates through the web site or the service. The latest
version of the privacy policy is available to you at <a
href="https://4thandmayor.com/privacy.html">https://4thandmayor.com/privacy.html</a>.
</p>

<p>This policy is additive to that of the foursquare privacy
policy, since 4<sup>th</sup> & Mayor is only a client application.</p>

<h3>Location Service Data</h3>

        <p>The application uses the Microsoft Location Services for Windows Phone when enabled and opted-in 
        by the user.</p>

        <p>The enable the Location Services inside the application, you can opt-in when first Signing In, 
        and you always have control over the location services in the 'my settings' page: simply check or 
        uncheck the 'Location Services' checkbox to enable or disable the service.</p>

        <h4>How the Location Service API data is used:</h4>

        <p>Once you enable the location services on the phone and opt-in in the application, the GPS data is used:</p>

        <ul>
            <li>When looking for nearby places, the GPS data is used for a service call to foursquare to get this list.</li>
            <li>When checking in to a place, the GPS data is sent to foursquare to validate the check-in, along with accuracy information.</li>
            <li>When a map view is open showing nearby friends or places, the GPS data is used as either a center point for the map, or to show how far you are from the location.</li>
        </ul>

        <p>Whenever the location information is being used, you will see visual indicators on the screen 
        that will also contain information about the approximate location you are in.</p>

        <p>How the Location Service data is disclosed or shared:</p>

        <p>When you decide to check-in to a place by using the &quot;check-in&quot; or 
        &quot;quick check-in&quot; features, subject to the <a href="https://foursquare.com/legal/privacy">foursquare privacy policy</a>, 
            your GPS position is sent for validation and then optionally shared as you 
            decide.
        </p>

        <p>For quick check-in: Your check-in will be shared with your foursquare friends. Your defaults stored with foursquare for telling Facebook or Twitter are used. By default they are off until you connect and opt in.</p>

        <p>For check-in: The advanced check-in page offers three options. These choices are yours, though the default foursquare settings you have will be shown first as an initial set of values to make your preferences quick and easy:</p>

        <ul>
            <li>Friends: check to let your foursquare friends know where you are. Do not check for an 'off-the-grid' check-in: only you will have access to this data.</li>
            <li>Facebook: check to post your check-in to a place on Facebook.</li>
            <li>Twitter: check to post your check-in to a place on Twitter.</li>
        </ul>

        <h4>Control your data and the location service</h4>
        <p>You control the Location Services for your data and the phone.</p>
        <p>To disable the Location Service phone-wide, go to the Settings app on the phone, then Location Services and turn it off.</p>
        <p>To disable the Location Service in 4th &amp; Mayor, go to the 'My Settings' page in the app using the application bar on the main page. Then turn off the Location Services in that set of menus and check boxes.</p>

        <p>Remember, 4th and Mayor will never use your location information without you first opting in inside the app.</p>
        <p>Beware, the app isn't too useful without the location services enabled, however!</p>

<h3>Information Collected</h3>

<p>In the event of an application error, crash, or problem, we
may ask you to send an email message with crash information. Such an email may
contain personally identifiable information, and it is your choice whether to
send such a message.</p>

<p>While using the app, we may ask you to provide us with
certain personally identifiable information that can be used to contact or
identify you and help you resolve support or assistance with the app. This will
happen through a prompt asking for feedback, allowing you to send an e-mail
message, and is not automatic.</p>

<p>When you chose to interact with and use social networking
services and sites, such as foursquare, we collect an authentication token
through an authentication mechanism with the service. As part of this process,
we also will then validate the credentials by requesting the profile
information for the primary account, and this information may include your
email address, name, and any other fields returned from the user lookup with
the foursquare API. Your password is never stored by the application.</p>

<p>In order to provide you with a better experience, to improve
the application and its services, we may share non-identifying information
(such as the current page within the application being viewed) to serve you
better and analyze and understand how the app is used. There are application
preferences that may enable or turn off such functionality.</p>

<h3>Age Policy</h3>

<p>Within accordance of Microsoft?s Application Certification
Requirements for Windows Phone, you must not create an account if you are not
of the age of 13.</p>

<p>As the 4<sup>th</sup> & Mayor application does not
require an account, this clause is handled by the foursquare terms of use,
which designates that those younger than 13 may not use the service.</p>

<h3>Cookies and Similar Technologies</h3>

<p>We use "cookies" or similar technologies to collect
information. A cookie is a data file that we store on your phone's storage for
record-keeping purposes. Such "persistent cookies" may include authentication
information for future logins to the application or service. We might also use
"session ID cookies" to better understand how you interact with the app and to
aggregate usage of the app. If you do not accept the use of cookies, you may
not be able to use all or part of the app and its services.</p>

<p>We may also use "clear graphical images", "web beacons" or
other means to collect usage, demographic and geographic data.</p>

<h3>Using social networks</h3>

<p>As a 4<sup>th</sup> & Mayor user who has downloaded,
installed and run the 4<sup>th</sup> & Mayor app software on your Windows
Phone, you can interact with social networking services like foursquare.
Depending on the social network and how you use the connection, you choose to
use the app in accordance with the privacy settings you have set in your social
networking account. You may be able to post information to your social
networking account, including personally identifiable information,? to your
social networking service. For example, you can connect to the foursquare
application programming interfaces through the foursquare OAuth authentication
process, at which point you may be able to share comments, photos, and location
information with other users as you choose.</p>

<p>We require you to read the privacy policies of the social
networking services that you use. You have the ability to disconnect from such
social networking services at any time by signing out of the service within the
4<sup>th</sup> & Mayor application, or uninstalling the app from your
phone.</p>

<h3>Sharing features</h3>

<p>The app has the capability for you to choose to send through
e-mail, text message, phone call, or other means, information to others. Such
information sharing is at your own discretion and will always involve your
approval.</p>

<h3>Notes</h3>

<p>foursquare&#0153; is a trademark of Foursquare Labs, Inc. This
application uses the foursquare&#0153; application programming interface but is not
endorsed or certified by Foursquare Labs, Inc.</p>

<h3>Contacting the app author</h3>

<p>If you have any questions about this Privacy Policy, please
contact us at <a href="mailto:4thandmayor@gmail.com">4thandmayor@gmail.com</a>.
</p>
