<h2>
    Bugs. Suggestions. Feedback.
</h2>

    <p>Support is available: <a href="https://www.twitter.com/4thandmayor">tweet @4thandmayor</a> or 
        <a href="https://www.google.com/recaptcha/mailhide/d?k=01qDYmSQfwJrEbbTxNCkREkg==&c=0fhHPGARWyrWU8Kq9zO3pD7KZMFmOCBdP5lvssmgSY4=">send an e-mail</a>.</p>
    <p><em>Though not all mails will receive personal attention, be assured that they are all read and bugs are tracked.</em></p>