<p>We've gone ahead and sent a toast over the Microsoft Push Notification Service (MPNS). This 
is a system run by Microsoft for its phones. Let's figure out how things went.</p>

<%
if (locals.response) {
	var dcs = locals.response.deviceConnectionStatus;
	var ns = locals.response.notificationStatus;
	var ss = locals.response.subscriptionStatus;

	if (locals.response.deviceConnectionStatus) {
		%><h4>Device Connection Status: <strong><%=dcs%></strong></h4><%
	}

	if (locals.response.notificationStatus) {
		%><h4>Notification Status: <strong><%=ns%></strong></h4><%
	}

	if (locals.response.subscriptionStatus) {
		%><h4>Subscription Status: <strong><%=ss%></strong></h4><%
	}

	var con = 'Connected';
	var rec = 'Received';
	var act = 'Active';
	var td  = 'TempDisconnected';
	var qf  = 'QueueFull';
	var sup = 'Suppressed';

	if (dcs == con && ns == rec && ss == act) {
		%><p>The notification was received by Microsoft's servers. The notification request was accepted and queued for delivery. <strong>This status does not mean the device has received the notification.</strong> It indicates only that the server has received the notification and queued it for delivery at the next possible opportunity for the device. The server could respond with this status even though the device is currently transitioning into an unreachable state. This means the notification would not be delivered until the device returns from the unreachable state.</p><%
	} else if (ns == rec && dcs == td && ss == act) {
		%><p>The notification request was accepted and queued for delivery. However, the device is temporarily disconnected.</p>

		<p>This response code can occur for a variety of reasons, including but not limited to:</p>

		<ul>
		<li>To reduce network load and latency, mobile operator network configurations can vary greatly in the amount of time a persistent data connection is allowed to live. The Push Notification Client attempts to mitigate these persistent data connection limitations, but there is a lower bound after which it is power inefficient to mitigate this situation. This may lead to devices experiencing the “OK/Received/Temporarily Disconnected/Active” state as a result of the data connection being interrupted.</li>
		<li>The device is outside the coverage area of their carrier and the user has chosen to disable data connection when roaming.</li>
		<li>The device has a Pay-As-You-Go plan and has temporarily disabled the data connection or has a restrictive data plan option.</li>
		<li>The device is on the edge of a coverage area and the data connection is not reliable.</li>
		<li>If Wi-Fi is being used and cellular data is not available, the device must have a clear path to the Internet in order for push notifications to be received – this can be problematic on some corporate networks.</li>
		<li>The device is alternating between cell and Wi-Fi connections and the connection is not in a steady state.</li>
		</ul>

		</p><%
	} else if (ns == qf) {
		%><p>Microsoft's push notification service is pretty busy and was not able to process your toast right now. There is no way to work around this right now other than waiting.</p><%
	} else if (ns == sup) {
		%><p>The message was sent but not provided to your phone. Your phone may not be accepting push notifications 
		of this type.</p><%
	} else {
		%><p>No information is available to debug this scenario. Most likely something is wrong 
		on the Microsoft push server end, and hopefully will start working soon!</p><%
	}

}
%>

<hr />
<h5>Ready to geek out?</h5>
<p>If you're interesting in reading the technical documentation to understand this more, 
or are out of things to read on the Internet, then check out the <a href="http://msdn.microsoft.com/en-us/library/ff941100%28v=VS.92%29.aspx">MPNS response codes documentation</a>.</p>

<hr />

<p><a href="/experience">Back</a></p>